body, html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #5E934A;
}
main {
  width: 100%;
  min-height: 100vh;
}
button {
  background-color: #fff;
}
.indexPresentation {
  max-width: 720px;
  margin-top: 92px;
  margin-inline: auto;
}
.indexPresentation p {
  margin: 0;
  width: 420px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #333333;
}

.indexPresentation p img {
  width: 24px;
  margin-right: 12px;
  margin-top: 2.5px;
}
h1 {
  font-family: 900;
  margin-bottom: 64px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #fff;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 42px;
}
form {
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 23px;
  display: flex;
  align-items: center;
}
input,
button {
  padding: 5.5px;
}
button {
  cursor: pointer;
  padding-inline: 12px;
}